# host the static frontend files used for prod
:8008 {
	root * ./frontend/build
	file_server
}

# main port. everything ends up here and this is what you connect to
:80 {
	# allow anyone on the network to connect
	bind 0.0.0.0

	# reverse proxy for backend
	reverse_proxy /api/* :8080

	# reverse_proxy for frontend
	reverse_proxy {
		# it is possible to route to either vite (dev, port 8090) or to our static files (prod, port 8008)
		to localhost:8090 localhost:8008

		# the first option (vite dev) takes priority, if it's running
		lb_policy first

		# run health checks on the proxied services to determine whether vite is running
		# we don't have a specific endpoint for it, but / will give HTTP 200 if the relevant server is working
		health_uri /
		health_interval 5s
		health_timeout 2s
		health_status 2xx
	}
}

