/* Input Range (Slider */
input[type="range"][list="motor-speed-range"] {
    /* display: flex; */
    width: 500px;
    padding: 0;
}

/* Labels */
datalist {
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: space-evenly;
    writing-mode: vertical-lr;
    width: 500px;
}
option {
    padding: 0;
}