.taskbar-button {
    padding: 0.5em;
    background-color: #222282;
    color: white;
    border-color: black;
}

.taskbar-button:hover {
    cursor: pointer;
    background-color: #5D81D9;
}

.sidebar {
    width: 250px;
    display: flex;

    position: fixed;
    top: 0;
    right: -100%;
    transition: 850ms;
    z-index: 1;
}

.sidebar.active {
    right: 0;
    transition: 350ms;
}

.hide-icon {
    font-size: 25px;
    width: fit-content;
    color: #fff;
    cursor: pointer;
}

.sidebar-data {
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    gap: 45px;
    width: 100%;
    padding: 8px 24px;
    background-color: #111d40;
}

.sidebar-data span {
    padding: 5px;
}

.sidebar-data span:hover {
    background-color: #5D81D9;
    cursor: pointer;
}