.dot {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    
}

#gray {
    background-color: gray;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

.connection-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}